.header{
    background-image:linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%),url('../images/Banner\ Image.png');
    margin: 50px 140px;
    border-radius: 16px;
    width: 1320px;
    height: 600px;
    flex-shrink: 0;
    
   
}

.banner-greeting{
color: #FFF;
text-align: center;
font-family: Merriweather;
font-size: 32px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-bottom:0;
}

.banner-title{
color: #FFF;
text-align: center;
font-family: Merriweather;
font-size: 72px;
font-style: normal;
font-weight: 900;
line-height: 95px; /* 131.944% */
margin-bottom: 0;
}

